/* I am Profesional */

/* Title and description */

.content-profesional {
  margin-top: 60px;
}

.title {
  color: #1b1b1b;
  font-size: 50px;
  font-weight: 800;
}

.descrip {
  font-size: 26px;
  text-align: center;
  vertical-align: top;
  margin: 0px 200px;
}

.canal {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}

.register-btn {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #078bfb;
}

.btn-reg {
  text-decoration: none;
  color: white;
}

.title-2 {
  margin-top: 100px;
  font-size: 44px;
  font-weight: 700;
  color: #1b1b1b;
}

.todo-servy {
  color: #078bfb;
}

/* section two */

.title-2 {
  margin-top: 100px;
  font-size: 44px;
  font-weight: 700;
  color: #1b1b1b;
}

.todo-servy {
  color: #078bfb;
}

.section-2 {
  width: 100%;
  display: flex;
}

.information-2 {
  margin-top: 100px;
  width: 35%;
}

.subtitle {
  text-align: left;
  margin-left: 50px;
  font-size: 36px;
  font-weight: 700;
  color: #1b1b1b;
}

.parr-1 {
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
}

.parr-2 {
  text-align: left;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
}

.image-2 {
  width: 60%;
}

.image-uno {
  margin-left: 50px;
  margin-top: 270px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.uno {
  width: 500px;
  height: 350px;
}

.subtitle-2 {
  text-align: left;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 700;
  color: #63cb75;
}

.shield {
  margin-right: 5px;
}

.secure {
  text-align: justify;
  font-weight: 700;
  margin-left: 50px;
}

.see {
  margin-left: 50px;
  font-weight: bold;
  text-align: left;
  color: #078bfb;
}

/* section three */

.section-3 {
  margin-top: 100px;
  display: flex;
  width: 100%;
}

.container-1 {
  margin-left: 50px;
  margin-right: 50px;
  border-top: #1b1b1b 2px solid;
  border-bottom: #1b1b1b 2px solid;
  width: 50%;
}

.container-2 {
  margin-right: 50px;
  margin-left: 50px;
  border-top: #1b1b1b 2px solid;
  border-bottom: #1b1b1b 2px solid;
  width: 50%;
}

.title-todo1 {
  margin-left: 50px;
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  color: #078bfb;
}

.text-info {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.letter {
  margin-left: 50px;
  text-align: left;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 18px;
}

.text-info {
  margin-left: 50px;
  margin-right: 20px;
}

.container-1:hover .text-info2 {
  margin-left: 50px;
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  display: block;
}

.text-info2 {
  display: none;
}

.container-2:hover .text-info2 {
  margin-left: 50px;
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  display: block;
}

/* Section fourht */

.section-4 {
  padding: 80px 80px;
}

.agend {
  font-size: 48px;
  font-weight: bold;
}

.text-agend {
  font-size: 18px;
}

.text-black {
  font-size: 18px;
  font-weight: 700;
}

/* Section five */

.section-5 {
  width: 100%;
  display: flex;
}

.sub-section1 {
  width: 50%;
}

.section-title {
  font-size: 28px;
  margin-left: 50px;
  font-style: bold;
  text-align: left;
}

.icon-section {
  font-size: 50px;
  color: #078bfb;
}

.calendar {
  text-align: left;
  margin-left: 75px;
}

.text-info5 {
  margin-left: 50px;
  margin-right: 20px;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .responsive-info {
    width: 100%;
  }

  .descrip {
    font-size: 22px;
    text-align: center;
    display: contents;
  }

  .canal {
    margin-top: 50px;
  }
}

@media (min-width: 800px) {
  .descrip {
    margin: 0px 200px;
  }
}

/* Section two responsive */

@media (max-width: 1000px) {
  .section-2 {
    display: contents;
    width: 100%;
  }

  .image-uno {
    margin-right: 50px;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .uno {
    height: 350px;
    width: 300px;
    margin-right: 60px;
  }

  .image-2 {
    width: 100%;
  }

  .information-2 {
    width: 100%;
  }

  .parr-1 {
    margin-right: 30px;
  }

  .parr-2 {
    margin-right: 30px;
  }

  .section-3 {
    display: contents;
    width: 100%;
  }

  .container-1 {
    margin-top: 50px;
    border-top: none;
  }

  .container-1 {
    border-top: none;
    border-bottom: #1b1b1b 2px solid;
    width: 70%;
  }

  .container-2 {
    border-top: #1b1b1b 2px solid;
    border-bottom: #1b1b1b 2px solid;
    width: 70%;
  }

  .title-todo1 {
    text-align: left;
    font-size: 34px;
    font-weight: 700;
    color: #078bfb;
  }

  .text-info {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
  }

  .letter {
    text-align: left;
    text-decoration: none;
    color: #c4c4c4;
    font-size: 18px;
  }

  .section-4 {
    display: contents;
    width: 100%;
  }
}


@media (max-width: 700px){

  .section-5{
    display: contents;
    width: 100%;
  }

  .sub-section1{
    width: 100%;
  }

}
