
.accordion-item {
  list-style: none;
  border-bottom: #C4C4C4 1px solid;
  margin-right: 30px;
  
}
.accordion-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F8F8F8;
  padding: 1em;
  margin-right: 30px;
}
.accordion-toggle:hover {
  background-color: #F8F8F8;
}
.accordion-toggle h3 {
  margin: 0;
}
.accordion-content {
  background-color: #F8F8F8;
  text-align: justify;
  font-size: 18px;

  padding: 1em;
}

.arrow{
  color: #078BFB;
  font-size: 25px;
}
